<ion-view title="Unlyst" ng-controller="HomeCtrl">
  <ion-content>
    <div class="slider-nav-btn-left">
      <button ng-click="previous()" class="button button-dark button-small button-outline ion-chevron-left"></button>
    </div>
    <div class="slider-nav-btn-right">
      <button ng-click="next()" class="button button-dark button-small button-outline ion-chevron-right"></button>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider-override"
                   auto-play does-continue="true" show-pager="false" active-slide="3">
      <ion-slide>
        <div ng-include src="'templates/home-details/map.html'"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include src="'templates/home-details/info-general.html'"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include src="'templates/home-details/info-detail.html'"></div>
      </ion-slide>
      <ion-slide ng-repeat="image in imgurl">
        <div ng-include src="'templates/home-details/picture.html'"></div>
      </ion-slide>
    </ion-slide-box>
    <div ng-include src="'templates/home-details/slide-nav.html'"></div>
    <div ng-include src="'templates/home-details/address.html'"></div>
    <div ng-include src="'templates/price-slider.html'"></div>
  </ion-content>
</ion-view>