<ion-view title="Unlyst" ng-controller="HomeCtrl" class="tabs-item-hide">
  <ion-content class="tabs-item-hide">
    <div class="slider-nav-btn-left">
      <button class="button button-dark button-small button-outline ion-chevron-left"></button>
    </div>
    <div class="slider-nav-btn-right">
      <button class="button button-dark button-small button-outline ion-chevron-right"></button>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider-override" show-pager="false" style="min-height:400px">
      <ion-slide>
        <div ng-include src="'templates/home-details/map.html'"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include src="'templates/home-details/info.html'"></div>
      </ion-slide>
      <ion-slide ng-repeat="image in imgurl">
        <div ng-include src="'templates/home-details/picture.html'"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div ng-include src="'templates/price-slider.html'"></div>
</ion-view>