<ion-view>
  <ion-content>
      <div ng-controller="SliderCtrl">
        <div class="slider-nav-btn-left">
          <div ng-click="previous()" class="button button-dark button-small button-outline ion-chevron-left"></div>
        </div>
        <div class="slider-nav-btn-right">
          <div ng-click="next()" class="button button-dark button-small button-outline ion-chevron-right"></div>
        </div>
        <!--TODO:images are sorted based on their name, so 1, 10, 11, 2, 3, etc...-->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider-override" auto-play show-pager="false"
                       active-slide="activeSlide" style="max-height: 600px;" layout-align="center center">
          <ion-slide ng-repeat="image in property.img  | toArray | orderBy: 'url'">
            <div ng-include src="'src/display-home/home-details/picture.html'"></div>
          </ion-slide>
          <ion-slide>
            <div ng-include src="'src/display-home/home-details/info-detail.html'"></div>
          </ion-slide>
          <ion-slide>
            <div ng-include src="'src/display-home/home-details/info-detail2.html'"></div>
          </ion-slide>
          <ion-slide>
            <div ng-include src="'src/display-home/home-details/info-detail3.html'"></div>
          </ion-slide>
          <ion-slide>
            <div ng-include src="'src/display-home/home-details/info-detail4.html'"></div>
          </ion-slide>
          <ion-slide>
            <div ng-include src="'src/display-home/home-details/map.html'"></div>
          </ion-slide>
        </ion-slide-box>
        <div ng-include src="'src/display-home/slides/slide-nav.html'"></div>
      </div>
      <div ng-include src="'src/display-home/price-slider.html'"></div>
  </ion-content>
</ion-view>
