<ion-view>
  <ion-content class="padding-top" ng-controller="SearchCtrl">
    <div class="padding text-center">
      <h3>Tell us what kind of home you are looking for and we'll do the rest!</h3>
    </div>
    <md-input-container>
      <label>Location(Neighorhood, Postal Code or Address)</label>
      <input  label="Location" ng-model="search.location" name="location" placeholder="" googleplace>
    </md-input-container>
    <md-input-container>
      <label>Price($)</label>
      <input label="Price" ng-model="price" name="price" numbers-only>
    </md-input-container>
    <md-input-container>
      <label>Mininum square footage(interior space)</label>
      <input label="squarefoot" ng-model="search.sqaurefoot" name="squarefoot" numbers-only>
    </md-input-container>
    <md-input-container>
      <label>Bedrooms</label> <select class="md-input" ng-model="search.bedrooms"
                                      ng-options="o for o in bedrooms"></select>
      <input ng-model="search.bedrooms" ng-hide="true">
    </md-input-container>
    <md-input-container>
      <label>Bathrooms</label> <select class="md-input" ng-model="search.bathrooms"
                                       ng-options="o for o in bathrooms"></select>
      <input ng-model="search.bathrooms" ng-hide="true">
    </md-input-container>
    <div class="text-center">
      <md-button class="md-warn md-raised">Search</md-button>
    </div>
  </ion-content>
</ion-view>