<div class="tab-custom-slider">
  <div class="tabs-striped">
    <md-tabs md-stretch-tabs="always" md-selected="activeTab()" class="custom-tabs">
      <md-tab class="custom-tab" ng-click="slideHasChanged(0)">
        <i class="icon ion-images"> </i>
        {{curPhotoSlide}}
      </md-tab>
      <md-tab class="custom-tab" ng-click="slideHasChanged(count-4)">
        <i class="icon ion-information-circled"> </i>
        {{curInfoSlide}}
      </md-tab>
      <md-tab class="custom-tab" ng-click="slideHasChanged(count-1)">
        <i class="icon ion-map"></i>
      </md-tab>
    </md-tabs>
  </div>
  <md-divider></md-divider>
</div>