<div class="tab-custom-slider">
  <div class="tabs-striped">
    <md-tabs md-stretch-tabs="always" class="custom-tabs">
      <md-tab class="custom-tab" ng-click="changeSlide(0)" md-active="activeTab() == 0">
        <i class="icon ion-images"> </i>
        {{curPhotoSlide}}
      </md-tab>
      <md-tab class="custom-tab" ng-click="changeSlide(count-infoNum-1)" md-active="activeTab() == 1">
        <i class="icon ion-information-circled"> </i>
        {{curInfoSlide}}
      </md-tab>
      <md-tab class="custom-tab" ng-click="changeSlide(count-1)" md-active="activeTab() == 2">
        <i class="icon ion-map"></i>
      </md-tab>
    </md-tabs>
  </div>
  <md-divider></md-divider>
</div>