/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:



$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
.tab-custom-slider .tabs {
  position: relative !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  height: 35px;
  line-height: 40px;
  padding: 0; }

.home-info {
  min-height: 230px;
  height: 100%; }
  .home-info h3 {
    color: #fff;
    margin-top: 1px;
    margin-bottom: 1px; }
  .home-info h6 {
    color: #eeeeee;
    margin-top: 1px;
    margin-bottom: 1px; }

.home-detail-info {
  letter-spacing: 1px; }
  .home-detail-info span {
    color: #d9d9d9;
    font-weight: 300; }
  .home-detail-info h6 {
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 600; }

.valdIcon {
  width: 32px; }

.iconheight {
  height: 30px;
  min-width: 40px; }

.box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
