<div class="padding-left padding-right assertive-bg home-info row row-center">
  <div class="col col-center">
    <div class="row padding">
      <div class="col-25 col-offset-20 text-center">
        <h3>{{property.bedRmNum}}</h3>
        <div class="iconheight">
          <img src="img/home-icons/icon_bedroom.png" class="valdIcon"/>
        </div>
        <h6>Bedrooms</h6>
      </div>
      <div class="col-25 col-offset-20 text-center">
        <h3>{{property.bathRmNum}}</h3>
        <div class="iconheight">
          <img src="img/home-icons/icon_bathroom.png" class="valdIcon"/>
        </div>
        <h6>Bathrooms</h6>
      </div>
    </div>
    <div class="row padding">
      <div class="col-25 col-offset-20 text-center">
        <h3>{{property.parkingNum}}</h3>
        <div class="iconheight">
          <img src="img/home-icons/icon_parking.png" class="valdIcon"/>
        </div>
        <h6>Parking</h6>
      </div>
      <div class="col-25 col-offset-20 text-center">
        <h3>{{property.size}}</h3>
        <div class="iconheight">
          <img src="img/home-icons/icon_size.png" width="28px"/>
        </div>
        <h6>Size(sf)</h6>
      </div>
    </div>
  </div>
</div>