<div class="padding-left padding-right assertive-bg home-info row row-center">
  <div class="col col-center">
    <div class="row">
      <div class="col-67 col-offset-33">
        <img src="img/home-icons/icon_type_condo.png" class="valdIcon"/>
      </div>
    </div>
    <div class="row">
      <div class="col-67 col-offset-33 home-detail-info">
        <h6><span>Type:</span> {{property.houseType}} </h6>
        <!--<h6><span>Lot Size: </span>{{property.landSize}} </h6>-->
        <!--<h6><span>Stories:</span> {{property.stories}} </h6>-->
        <h6><span>Orientation:</span> {{property.orientation}} </h6>
        <h6><span>Parking Type:</span> {{property.parkingType}} </h6>
        <h6><span>Parking Spaces:</span> {{property.parkingNum}} </h6>
        <h6><span>Outdoor Space:</span> {{property.outdoorSpace}} </h6>
        <h6><span>Year Built:</span> {{property.buildYr}}</h6>
      </div>
    </div>
  </div>
</div>