<div style="height: 100%">
  <div class="row ">
    <div class="col-50">
      <img src="img/home-icons/icon_building_type.png" class="valdIcon"/>
      <div>{{houseType}}</div>
      <div>Home</div>
    </div>
    <div class="col-50">
      <img src="img/home-icons/icon_bathrooms.png" class="valdIcon"/>
      <div>{{bathRmNum}} 2</div>
      <div>BathRoom</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-50">
      <img src="img/home-icons/icon_bedrooms.png" class="valdIcon"/>
      <div>{{bedRmNum}}123</div>
      <div>BedRoom</div>
    </div>
    <div class="col-50">
      <span>Sqf: {{houseSize}}2245 sqf</span>
    </div>
  </div>
  <div class="row">
    <div class="col-33">
      <span>Lot Size: {{lotSize}} 1201ft</span>
    </div>
    <div class="col-33">
      <span></span> <span>Parking: 1{{parking}}</span>
    </div>
    <div class="col-33"><span>Year Built: 1999{{buildYr}}</span></div>
  </div>
</div>