<div class="padding-left padding-right assertive-bg home-info">
  <div class="col-center">
    <div class="row">
      <div class="col-20 col-offset-20 col-center">
        <img src="img/home-icons/icon_type_house.png" class="valdIcon"/>
      </div>
    </div>
    <div class="row">
      <div class="col-80 col-offset-20 home-detail-info">
        <h6><span>Type:</span> {{houseType}} </h6>
        <h6><span>Lot Size: </span>{{lotSize}} </h6>
        <h6><span>Stories:</span> {{stories}} </h6>
        <h6><span>Orientation:</span> {{orientation}} </h6>
        <h6><span>Parking Type:</span> {{parkingType}} </h6>
        <h6><span>Parking Spaces:</span> {{parking}} </h6>
        <h6><span>Outdoor Space:</span> {{outdoorSpace}} </h6>
        <h6><span>Year Built:</span> {{buildYr}}</h6>
      </div>
    </div>
  </div>
</div>