<div class="padding-left padding-right assertive-bg" style="height: 100%">
  <div class="row home-info">
    <div class="col-25 text-center">
      <h3>{{bathRmNum}}</h3>
      <img src="img/home-icons/icon_bathrooms.png" class="valdIcon"/>
      <h6>Bathrooms</h6>
    </div>
    <div class="col-25 text-center">
      <h3>{{bedRmNum}}</h3>
      <img src="img/home-icons/icon_bedrooms.png" class="valdIcon"/>
      <h6>Bedrooms</h6>
    </div>
    <div class="col-25 text-center">
      <h3>{{parking}}</h3>
      <img src="img/home-icons/icon_building_type.png" class="valdIcon"/>
      <h6>Parking</h6>
    </div>
    <div class="col-25 text-center">
      <h3>{{houseSize}}</h3>
      <img src="img/home-icons/icon_building_type.png" class="valdIcon"/>
      <h6>Size(sf)</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-offset-20">
      <img src="img/home-icons/icon_building_type.png" class="valdIcon"/>
    </div>
    <div class="col-60 col-offset-10 home-detail-info">
      <h6><span>Type:</span> {{houseType}} </h6>
      <h6><span>Lot Size: </span>{{lotSize}} </h6>
      <h6><span>Stories:</span> {{stories}} </h6>
      <h6><span>Additional Spaces:</span> {{additionalspace}} </h6>
      <h6><span>Parking Type:</span> {{parkingtype}} </h6>
      <h6><span>Parking Spaces:</span> {{packingspace}} </h6>
      <h6><span>Outdoor Space:</span> {{outdoorspace}} </h6>
      <h6><span>Year Built:</span> {{buildYr}}</h6>
    </div>
  </div>
</div>