<ion-view title="Home Info">
    <ion-content>
        <div>
            <p>Now for the most important part -- photos! Without photos the market will not be able to accurately
                value your home. The more photos the better.</p>
        </div>
        <br>
        <div>
            <p>Click or tap below to upload photos.</p>
        </div>

        <div> BIG LOGO</div>
        <div>
            <p>Photos uploaded</p>
        </div>
        <div>
            <div>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
            </div>
            <div>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
            </div>
        </div>
        <button class="button button-median button-assertive" ng-click="addhome()">Add Home</button><br>
        Step 3 of 3
    </ion-content>
</ion-view>