<div class="list list-inset">
    <md-content class="md-padding">
    <p>
        Get a market-tested valuation and a list of people who are interested in buying your home right now.
    </p>
        <br>
    <p>
        Let's get started!
    </p>
    </md-content>

    <md-content class="md-padding">
    <md-input-container flex>
        <label>Home Address (Only Toronto Addresses)</label>
        <input type="text" ng-model="home.address"><br>
    </md-input-container>
        <md-input-container flex>
            <label>Suite Number(if applicable)</label>
            <input type="text" ng-model = "home.suiteNumber">
        </md-input-container>
        <md-input-container flex>
            <label>Postal code</label>
            <input type="text" ng-model = "home.postalCode">
        </md-input-container>
        <md-input-container flex>
            <label>Neighborhood</label>
            <input type="text" ng-model = "home.neighborhood">
        </md-input-container>
    </md-content>
</div>

<div class="list list-inset">
    <md-checkbox ng-model="home.hideAddress" aria-label="hideAddress">
        Make my suite number private(optional)
    </md-checkbox>
</div>

<div class="list list-inset">
    <md-checkbox ng-model="home.ownerCertify" aria-label="hideAddress">
        I certify that I am the or one of the owners of this property(required)
    </md-checkbox>
</div>

<div class="list list-inset">
   <div class="col col-33 col-offset-33">
        <md-button class="md-raised md-warn"
            ng-click="goToPg2()">NEXT
        </md-button>
    </div>
    <div class="col col-33 col-offset-33">
        Step 1 of 3
    </div>
</div>

<br><br>
    {{home}}