<div class="list list-inset">
    <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
    <md-content class="md-padding">
    <p>
        Adding your home to Unlyst will provide you with realtime valuation and allow you yo see who's interested
        in buying your home. It's east, safe and free. It's like listing your home for sale, except you're not
        Take control of your largest asset
    </p>
        <br>
    <p>
        To start, please enter your address.
    </p>
    </md-content>
    </md-whiteframe>
</div>

<div class="list list-inset">
    <md-content class="md-padding" layout="row" layout-sm="column">
    <md-input-container flex>
        <label>Home Address (Only Toronto Addresses)</label>
        <input type="text" ng-model="home.address"><br>
    </md-input-container>
        <md-input-container flex>
            <label>Suite Number(if applicable)</label>
            <input type="text" ng-model = "home.suiteNumber">
        </md-input-container>
        <md-input-container flex>
            <label>Postal code</label>
            <input type="text" ng-model = "home.postalCode">
        </md-input-container>
        <md-input-container flex>
            <label>Neighborhood</label>
            <input type="text" ng-model = "home.neighborhood">
        </md-input-container>
    </md-content>
</div>

<div class="list list-inset">
    <md-checkbox ng-model="home.hideAddress" aria-label="hideAdress">
        Hide my exact address
    </md-checkbox>
</div>

<div class="list list-inset">
   <div class="col col-33 col-offset-33">
        <md-button class="md-raised md-warn"
            ng-click="goToPg2()">NEXT
        </md-button>
    </div>
    <div class="col col-33 col-offset-33">
        Step 1 of 3
    </div>
</div>

<br><br>
    {{home}}