<ion-view title="Home Info">
    <ion-content>
        <div>
            <p>Adding your home to Unlyst will provide you with realtime valuation and allow you yo see who's interested
                in buying your home. It's east, safe and free. It's like listing your home for sale, except you're not
                Take control of your largest asset</p>
            <p>To start, please enter your address.</p>
        </div>
        <br>

        <input type = "checkbox" ng-model="hideAddress"> Hide my exact address from users<br>
        <button class="button button-median button-assertive" ng-click="goToPg2()">NEXT</button>
    </ion-content>
</ion-view>