<div ng-controller="HeaderCtrl">
  <md-toolbar class="md-warn" md-scroll-shrink style="height:40px; min-height: 40px;">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div>
        <md-button aria-label="Menu" class="button icon ion-navicon-round md-button-small" ng-click="toggleLeftMenu()"
                   style="color:white"></md-button>
      </div>
      <div layout="row" layout-align="space-between center">
        <md-button class="md-warn md-button-small" ui-sref="home({id: homes.current})">
          <img style="padding-top:5px;" class="invert" src="dist/img/logo-black-bg.png"/>
        </md-button>
        <h6 hide-sm>Unlyst</h6>
      </div>
      <div>
        <md-button class="md-button-small" ng-show="authData == null" ui-sref="login">Login
        </md-button>
        <md-button ng-show="authData != null" ui-sref="myprofile" class="md-button-small">
          {{ authData.reputation | number: 0}} &nbsp; {{authData.userDisplayName}}
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-primary padding" style="min-height: 45px;" layout="column" layout-align="center center">
      <img width="60px" ng-src="{{authData.userProfilePicture}}"/>
      <div ng-show="authData" class="ribbon  ribbon--orange">{{ authData.reputation | number: 0}} &nbsp;</div>
      <h5> {{getUserDisplayName(true)}} {{ authData && ' ' || 'Unlyst' }}</h5>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu()" ui-sref="home({id: homes.current})"
                       class="md-primary button-block">
              Browse Homes
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu()" ui-sref="addHome" class="md-primary button-block">
              Add My Home
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button ng-hide="true" ng-click="toggleLeftMenu()" ui-sref="search" class="md-primary button-block">
              Search Homes
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu();" ng-show="authData===null" ui-sref="login" class="md-primary button-block">
              Login
            </md-button>
            <md-button ng-click="toggleLeftMenu();" ng-show="authData!==null" ui-sref="myprofile" class="md-primary button-block">
              My Profile
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu();" class="md-primary button-block">
              Close
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </md-sidenav>
</div>