<div ng-controller="HeaderCtrl">
  <md-toolbar class="md-warn" md-scroll-shrink style="height:40px; min-height: 40px;">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <button class="button button-clear icon ion-navicon-round" ng-click="toggleLeftMenu()" style="color:white"></button>
      <md-button ui-sref="home">
        <h3>Unlyst</h3>
      </md-button>
      <md-button class="md-warn md-raised" ng-show="authData == null" ui-sref="login" ng-class="userLogin">Login
      </md-button>
      <div ng-show="authData != null" class="pull-right">
        <md-button class="" ui-sref="login">
          {{ authData.reputation | number: 0}} &nbsp; {{getUserDisplayName(false)}}
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-warn md-hue-2 padding" style="min-height: 45px;" layout="column" layout-align="center center">
      <img width="60px" ng-src="{{getUserProfilePicture()}}"/>
      <div class="ribbon  ribbon--orange">{{ authData.reputation | number: 0}} &nbsp;</div>
      <h5> {{getUserDisplayName(true)}} {{ authData && ' ' || 'Unlyst' }}</h5>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu()" ui-sref="addHome.addHome1" class="md-primary button-block">
              Add My Home
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button ng-click="toggleLeftMenu()" ui-sref="search" class="md-primary button-block">
              Search Homes
            </md-button>
          </md-item-content>
        </md-item>
        <md-item >
          <md-item-content>
            <md-button ng-click="toggleLeftMenu();" ui-sref="login" class="md-primary button-block">
              {{authData && 'My Profile' || 'Login' }}
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </md-sidenav>
</div>