<div class="tab-custom-slider">
  <div class="tabs-striped tabs-color-assertive">
    <div class="tabs tabs-icon-left">
      <a class="tab-item" href="#" ng-click="slideHasChanged(0)" ng-class="{'active': isTabActive('photo-tab')}">
        <i class="icon ion-images"></i>
        Photos
      </a>
      <a class="tab-item" href="#"  ng-click="slideHasChanged(count-numInfoSlides-1)" ng-class="{'active': isTabActive('info-tab')}">
        <i class="icon ion-information-circled"></i>
        Info
      </a>
      <a class="tab-item" href="#"  ng-click="slideHasChanged(count-1)" ng-class="{'active': isTabActive('map-tab')}">
        <i class="icon ion-map"></i>
        Maps
      </a>
    </div>
  </div>
</div>