@import "variables";

//global max width
.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 764px;
  margin-left: auto;
  margin-right: auto;
}

/*used for overlay the map to prevent scrolling*/
.overlay {
  background:transparent;
  position:relative;
  width:640px;
  height:280px;
  top:280px;
  margin-top:-280px;
  z-index: 10;
}

//tab icon at bottom
.tabs .tab-item .icon.unlyst-bg-icon{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logo-white-bg.png');
}

.icon-positive{
  font-size: $font-size-large;
  color:$positive;
}

// override icon size
.button-custom,
.button-custom .icon:before{
  font-size: 16px !important;
}

.slider-override{
  //height:440px;
}

// custom sliderbox's pager, remove this if not needed
.slider-override .slider-pager .slider-pager-page{
  width:auto;
}
.slider-override .slider-pager .slider-pager-page:after{
  content:'test';
}
.slider-override .slider-pager .slider-pager-page .icon{
  font-size:0 !important;
}

.gray{
  color:$gray;
}

.gray-lighter{
  color:$gray-lighter;
}

.gray-light{
  color:$gray-lighter;
}
.graycolor{
  color:gray;
}

//Overriding angular material
body{
  font-size:16px !important;
}
.md-button {
  padding: 0.5em 2em !important;
}
.md-button, .md-header-items-container, .md-action {
  text-transform: none !important;
}
h4,h5,h6{
  margin: 0.3em 0 !important;
}
.text-center         { text-align: center; }
//Overriding angular material