@import "variables";

//global max width
.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 764px;
  margin-left: auto;
  margin-right: auto;
}

/*used for overlay the map to prevent scrolling*/
.overlay {
  background:transparent;
  position:relative;
  width:640px;
  height:280px;
  top:280px;
  margin-top:-280px;
  z-index: 10;
}

//tab icon at bottom
.tabs .tab-item .icon.unlyst-bg-icon{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logo-white-bg.png');
}

.icon-positive{
  font-size: $font-size-large;
  color:$positive;
}

// override icon size
.button-custom,
.button-custom .icon:before{
  font-size: 16px !important;
}

.slider-override{
  //height:440px;
}

// custom sliderbox's pager, remove this if not needed
.slider-override .slider-pager .slider-pager-page{
  width:auto;
}
.slider-override .slider-pager .slider-pager-page:after{
  content:'test';
}
.slider-override .slider-pager .slider-pager-page .icon{
  font-size:0 !important;
}

.gray{
  color:$gray;
}

.gray-lighter{
  color:$gray-lighter;
}

.gray-light{
  color:$gray-lighter;
}
.graycolor{
  color:gray;
}
.invert {-webkit-filter: invert(100%);}

//Overriding angular material
body{
  font-size:16px !important;
  font-family:'Avenir Next Regular' !important;
}
.md-button {
  padding: 0.5em 2em !important;
  margin: 1.0px;
}
.md-button-small{
  padding: 0.5em 0.5em !important;
}
.md-button, .md-header-items-container, .md-action {
  text-transform: none !important;
}
h4,h5,h6{
  margin: 0.3em 0 !important;
}
.text-center         { text-align: center; }
//Overriding angular material

//responsive font

@font-face {
  font-family:'Avenir Next Regular';
  src: url('../font/AvenirNext-Regular.woff');
}

@font-face {
  font-family:'Avenir Next UltraLight';
  src: url('../font/AvenirNext-UltraLight.woff');
}
body {
  h1,h2,h3,h4,h5,h6{

    line-height: 1em !important;
  }
}
//reponsive font
@media (min-width:$xphone) {
  body {
    font-size: 16px !important;
  }
}

@media (min-width:$mphone) {
  body {
    font-size: 18px !important;
  }
}
@media (min-width:$lphone) {
  body {
    font-size: 20px !important;
  }
}

@media (min-width:$tablet) {
  body {
    font-size: 22px !important;
  }
}
@media (min-width:$desktop) {
  body {
    font-size: 30px !important;
  }
}

md-input-container select.md-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEUAAAB6enp6enp5eXn///+i9s37AAAAA3RSTlMAgIgilleHAAAAIklEQVR4AWOgG2BihgImmAgjhM+IUMOI4CNEGNHMYaKlKwEp5wBLyMAwGAAAAABJRU5ErkJggg==) 99% center no-repeat;
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}

md-input-container select.md-input:focus {
  border-bottom: 2px solid rgb(33, 150, 243) !important;
  margin-bottom: 0;
}

md-input-container select.md-input:focus::-ms-value {
  background: transparent;
  color: inherit;
}

md-input-container select.md-input::-ms-expand {
  display: none;
}

input.md-input.ng-invalid.ng-dirty {
  outline: none;
  border-bottom:2px solid red;
  width:100%;
}

.addHomeTextSmall {
  font-family: 'Avenir Next Regular';
  font-size: 100%;
  line-height:1.1;
}

.addHomeTextBig {
  font-family: 'Avenir Next UltraLight';
  color: black;
  font-size: 170%;
  line-height:1.1;
}

.homeInfoForm {
  font-family: 'Avenir Next Regular';
}

.homeInfoForm md-input-container label {
  padding-left: 16px;
}

.homeInfoForm md-checkbox {
  font-size: 80%;
  line-height: 0;
}

.homeInfoForm .checkboxRow {
  Padding: 0;
}
.homeInfoForm .checkboxRow .checkCol md-checkbox {
  margin: 0;
}

md-content .item-select {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

div.upload {
  width: 86px;
  height: 87px;
  background: url('../img/addHomeIcon.png');
  overflow: hidden;
}

div.upload input {
  display: block !important;
  width: 86px !important;
  height: 86px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}