@import "ionic.app";
.home-info{
  min-height: 230px;
  height: 100%;
  h3{
    color: $light;
    margin-top:1px;
    margin-bottom:1px;
  }
  h6{
    color: $gray-verylight;
    margin-top:1px;
    margin-bottom:1px;
  }
}
.home-detail-info{
  letter-spacing: 1px;
  span{
    color:$gray-lighter;
    font-weight: 300;
  }
  h6{
    color: $light;
    margin-top:4px;
    margin-bottom:4px;
    font-weight: 600;
  }
}
.valdIcon{
  width:32px;

}
.iconheight{
  height:30px;
  min-width:40px;
}