@import "../www/lib/ionic/scss/ionic";
@import "ionic.app";
.home-info{
  h3{
    color: $light;
    margin-top:1px;
    margin-bottom:1px;
  }
  h6{
    color: $gray-verylight;
    margin-top:1px;
    margin-bottom:1px;
  }
}
.home-detail-info{
  span{
    color:$gray-lighter;
    font-weight: 300;
  }
  h6{
    color: $light;
    margin-top:1px;
    margin-bottom:1px;
    font-weight: 600;
  }
}
.valdIcon{
  width:32px;
}