@import "variables";

//customize tab
.tab-custom-slider {
  .tabs {
    position: relative !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
}

.home-info, .slide-height {

  height: 100%;
  h4 {
    color: $gray-dark;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
    span{
      font-weight: normal;
    }
  }
}

.valdIcon {
  width: 32px;
  filter: #{"invert(1)"};
}

.iconheight {
  height: 30px;
  min-width: 40px;
}

//fix hidden scroll bar
.scroll-bar-v {
  right: 1px !important;
}

.ng-animate .scroll-bar {
  visibility: visible !important;
}

.scroll-bar-fade-out{
  opacity:1 !important
}

.badge1 {
  position:relative;
}
.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-5px;
  right:-5px;
  font-size:.7em;
  background:rgb(244, 67, 54);
  color:white;
  width:20px;height:20px;
  text-align:center;
  line-height:20px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}
.pac-container {  //this is a fix for google autocomplete not showing up
  z-index: 100000 !important;
}