.modal-button {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.text-underscore {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  width: 60%;
  border-bottom: 1px solid black;
}