@import "variables";

.photoSection {
  background-color:$light;
  position: relative;
}

.home-caption {
  height: 1.5em;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  transition: .7s background linear;
}
$home-cover-height: 4em;
.home-cover-height{
  height: $home-cover-height;
}

.home-cover-caption {
  width: 100%;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  transition: .7s background linear;
  font-family:'Avenir Next Regular';
  h5{
    font-weight: 100 !important;
  }
}
$slider-height: 15em;

.resp-slider-height {
  height: $slider-height;
}

.slider-nav-btn-left, .slider-nav-btn-right {
  position: absolute;
  top:8em;
  z-index: 5;
  font-size: 16px;
  cursor: hand;
  height: $slider-height;
}

.slider-nav-btn-right {
  right: 0%;
}
