<div class="list list-inset">
    <div>
        <p>What's the minimum that someone would
            need to offer you in order for you to sell your home?</p>
    </div>
    <br>
    <div>
    <p>This number is strictly confidential. It'll only be used to match
    you with potential buyers who are interested in homes like yours and
        have specified that they would pay the price you want.</p>
    </div>
    <br>
    <div>
        <p> Your Unlyst Price can as high or low as you would like, and
            it can be changed later. If you don't have a price, simply leave it blank.</p>
    </div>
    <md-content class="md-padding">
        <md-input-container flex>
            <label>Your Unlyst Price (confidential)</label>
            <input type="text" ng-model="home.unlystPrice"><br>
        </md-input-container>
    </md-content>
</div>
<div class="list list-inset">
    <div class="col col-offset-20">
        <md-button class="md-raised md-warn" ng-click="goToPg2()">
            PREV
        </md-button>
        <md-button class="md-raised md-warn" ng-click="goToPg4()">
            NEXT
        </md-button>
    </div>
    <div class="col col-offset-33">
        Step 3 of 4
    </div>
</div>