<md-dialog aria-label="Current Unlysted Value" class="padding">
  <md-content>
    <h2 class="md-sticky-no-effect">Current Unlysted Value</h2>
    <div class="text-center">
      <h5>{{score | scoreMessage}}</h5>
      <h3 class="text-underscore">{{score | number : 0}}</h3>
      <h5>points awarded</h5>
      <h1 class="text-underscore"><strong>{{crowdvalue | currency:undefined:0}}</strong></h1>
      <h5>unlysted value</h5>
      <h3 class="text-underscore">{{avgScore | number: 2}}</h3>
      <h5>your average</h5>
    </div>
    <div class="row" layout-align="space-between center">
      <md-button aria-label="like" class="md-raised md-warn ion-star corner-round modal-button" ng-click="clickNext()">
      </md-button>
      <md-button class="md-raised md-warn modal-button" ng-click="clickNext()">
        View Next Home
      </md-button>
      <!--<div class="col-20 col-offset-10">-->
        <!--<button class="button button-assertive ion-star corner-round"></button>-->
      <!--</div>-->
      <!--<div class="col-80">-->
        <!--<button ng-click="hide();" class="button button-assertive corner-round">View Next Home-->
        <!--</button>-->
      <!--</div>-->

    </div>
  </md-content>
  <!--<h2 class="title">Current Unlysted Value</h2>-->
  <!--button-clear makes the icon bigger--><!--
  <button class="button button-custom button-clear" ng-click="modal.hide()">
  <icon class="icon ion-close"></icon>
  </button>
  -->

</md-dialog>
