<div class="priceslider">
  <h5 class="text-center graycolor ">How much is this home worth today?</h5>
  <div class="text-center">
    <h4>{{home.valuation | currency:undefined:0}}
      <span style="font-size: smaller">&nbsp;({{home.valuation/property.size | currency:undefined:0}} per ft<sup>2</sup>)</span>
    </h4>
  </div>
  <div class="range range-positive">
    <input type="range" name="price" min="{{home.minValuation}}" max="{{home.maxValuation}}" ng-init="getDefaultValue()"
           step="1000" ng-model="home.valuation" class="assertive">
  </div>
  <div class="row row-center">
    <div class="col col-bottom text-center">
      <button class="button button-assertive" ng-click="modal.show();submitScore()" style="min-width: 200px;">
        Submit Value
      </button>
    </div>
  </div>
  <div class="row row-center">
    <div class="col col-center text-center">
      <button class="button button-small button-clear" ng-click="clickNext();">
        Skip
      </button>
    </div>
  </div>
</div>