<ion-view>
  <ion-content ng-controller="RegisterCtrl" class="padding-top">
    <form name="registerForm">
      <md-input-container flex>
        <label>First Name</label>
        <input ng-model="user.firstname" name="firstname" minlength="2" required>
        <div ng-messages="registerForm.firstname.$error">
          <div ng-message="required">Required.</div>
          <div ng-message="minlength">Must be more than 2 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="user.surname" name="surname" minlength="2" required>
        <div ng-messages="registerForm.surname.$error">
          <div ng-message="required">Required.</div>
          <div ng-message="minlength">Must be more than 2 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Email</label>
        <input ng-model="user.email" name="email" required>
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">Required.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input ng-model="user.password" type="password" name="password" minlength="6" required>
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">Required.</div>
          <div ng-message="minlength">Must be more than 6 characters long.</div>
        </div>
      </md-input-container>
      <div class="text-center padding">
        <md-button class="md-raised md-warn" ng-disabled="!registerForm.$valid" ng-click="createUser(user)">
          Sign up
        </md-button>
      </div>
      <div class="text-center padding">
        <md-button class="md-flat" ui-sref="login">
          Log in
        </md-button>
      </div>
    </form>
  </ion-content>
</ion-view>