<ion-view cache-view="false">
  <ion-content  ng-controller="LoginCtrl" class="padding-top">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)" nav-clear>
        Log in
      </button>
      <p class="text-center">
        <a ui-sref="register" class="button button-block button-assertive">
          Register
        </a>
      </p>
    </div>
  </ion-content>
</ion-view>