<ion-view>
  <ion-content class="padding-top">
    <h4 class="text-center gray">Log in with a social account or email address</h4>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive icon-left ion-social-facebook" nav-clear
              ng-click="facebookLogin()" style="background: #4c66a4;">
        Facebook
      </button>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-positive icon-left ion-social-twitter" nav-clear
              ng-click="twitterLogin()" style="background: #4099FF;">
        Twitter
      </button>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-assertive icon-left ion-social-google" nav-clear
              ng-click="googleLogin()" style="background:#dd4b39;">
        Google+
      </button>
    </div>
    <div class="list">
      <label class="item item-input"> <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label> <label class="item item-input"> <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    </div>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click="signIn(user)" nav-clear>
        Log in
      </button>
      <h4 class="text-center gray-light">
      <div>Or</div>

        <a ui-sref="register" class="gray"><strong>Sign up</strong></a>&nbsp;with your email address
      </h4>
    </div>
    <div class="text-center ">
      <a href="#" class="gray-light" ng-click="logout()">Log out</a>
    </div>
  </ion-content>
</ion-view>