<ion-view>
  <ion-content ng-controller="RegisterCtrl" class="padding-top">
    <md-input-container flex>
      <label>First Name</label>
      <input ng-model="user.firstname" name="firstname" minlength="2" required>
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="user.surname" name="surname" minlength="2" required>
    </md-input-container>
    <md-input-container flex>
      <label>Email</label>
      <input ng-model="user.email" name="email" minlength="5" required>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input ng-model="user.password" type="password" name="password" minlength="6" required>
    </md-input-container>
    <md-input-container flex>
      <label>Confirm Password</label>
      <input name="confirm-password" type="password" minlength="6" required>
    </md-input-container>
    <div class="text-center padding">
      <md-button class="md-raised md-warn"  ng-click="createUser(user)">
        Sign up
      </md-button>
    </div>
    <div class="text-center padding">
      <md-button class="md-flat" ui-sref="login">
        Log in
      </md-button>
    </div>
    <div ng-messages="userForm.emailAddress.$error" ng-messages-include="error-messages.html"></div>
  </ion-content>
</ion-view>